{% load static %}
{% load compress %}
<section class="newsletter"  style="background-color: #f5f5f5;" >
    <div class="container" style="background-color: white;padding-bottom:30px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    <form method="POST" action="{% url 'authentication:user_subscription' %}">

                        {% csrf_token %}
                        <h5 class="mt-4">SUBSCRIBE TO OUR NEWSLETTER</h5><hr>
                        <div class="input-group">
                            <input type="email" name="email" id="id_email" class="form-control" placeholder="Enter your email" required>
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Subscribe Now</button>
                            </span>
                        </div>
                        <span id="email_msg"></span>
                        {% include "includes/messages.html" %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .newsletter {
        padding: 80px 0;
        background: #f2f2f2;
        }
        
        .newsletter .content {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2; }
        .newsletter .content h2 {
        color: #243c4f;
        margin-bottom: 40px; }
        .newsletter .content .form-control {
        height: 50px;
        border-color: black;
        border-radius:0;
        }
        .newsletter .content.form-control:focus {
        box-shadow: none;
        border: 2px solid #243c4f;
        }
        .newsletter .content .btn {
        min-height: 50px; 
        border-radius:0;
        background: #5E72E4;
        color: #fff;
        font-weight:300;
        }
</style>

{% compress js %}
<script src="{% static '/assets/js/common-js/jquery-3.5.min.js' %}"></script>
<script>
    
    $(document).ready(function () {

        $("#id_email").keyup(function(){
          var email=$(this).val();
    
         if(email!=""){
              $.ajax({
                  url:"/dashboard/check_email_exist/",
                  type:'POST',
                  data:{email:email},
                  success: function(response){
                    console.log(response)
                    var filter = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                      if(response=="True"){
                          $(".email_error").remove();
                          $("<span class='email_error' style='padding: 5px;float:left;color: red;font-weight: bold;'>Email already exists.Please, use another email.</span>").insertAfter("#email_msg");
                      }
                      else if(filter.test(email)){//for email 
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding: 5px;margin-top:3rem;color: green;font-weight: bold;'></span>").insertAfter("#email_msg");
                    }
                     
                     
                  }
                  ,
                  error: function(){
                    console.log("failed")
                  }
               
              })
             
          }
          else{
            $(".email_error").remove();
          }
    
      });
    
    });
</script>
{% endcompress %}