


<!-- This page contains password reset form -->
{% extends 'blog_base.html' %}
{% block title %}
  Message Sent Success
{% endblock title %}
{% block content %}

 <br>

    <!-- Page content -->
    <div class="container">

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="card shadow-lg border-0 rounded-lg mt-5">
        
        
                    <div class="card-header bg-secondary" >
                      <h2 class="text-center font-weight-light my-2" >  Thanks for reaching out!</h2>
                    </div>
        
                    <div class="card-body">
                        <div id="success-box" class="content-block">
                          
                            <p>Your message was successfully sent. I will do my best to get back to you in a timely manner :)</p>
                            <a id="back-btn" class="btn btn-success" href="/">BACK TO HOME PAGE</a>
                        </div>
        
                    </div>
        
                  </div>
                </div>
              </div>
            </div>
        
    </div>
{% endblock content %}
