{% extends "account_base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}

        <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Password reset success</h4>

                <div class="card-body">
                        <div class="font-weight-bold text-dark text-center">

                           <div class="alert alert-success text-lg text-dark">
                               <span>
                                   <strong>
                                   Your password is now change.Now, you can login with new password.

                                   </strong>
                               </span>
                           </div>
                        </div>
                    <hr />
                    <div class="text-center font-weight-bold">
                      <a class="btn btn-primary" href="{% url 'login' %}">
                         Go Back To Login
                      </a>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}