{% extends "account_base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}

        <div class="container">

        <div class="card shadow-sm">


                <div class="card-body">
                        <div class="font-weight-bold text-dark">

                            <br>
                        
<p> Are you sure you want to sign out?</p>
<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
                        </div>
                    <hr />
                    <div class="text-center font-weight-bold">
                      <a class="btn btn-primary" href="{% url 'blog:home' %}">
                         <i class="fas fa-home"></i> Go Back Home
                      </a>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}