<!-- Enter your register email here to get verification -->


{% extends 'account_base.html' %}

{% load crispy_forms_tags %}
<!-- Specific CSS goes HERE -->

{% block title %}
Reset Password
{% endblock title %}
  
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<br>
    <!-- Page content -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent">
              <div class="text-muted text-center">
               <strong>Reset Password</strong>
              </div>
            </div>
            <div class="card-body">
              <div class="text-center text-muted mb-4">

                <h5>Enter your register email, and we'll email instruction for settings a new one</h5>
              </div>

              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'login' %}" class="btn btn-sm btn-danger"><strong>Back To Login</strong></a>
                <input type="Submit" class="btn btn-sm  btn-success" name="Submit">
              </form>
            
            </div>
          </div>
        
        </div>
      </div>
    </div>

    <!-- /.login-logo -->

   

{% endblock content %}
