
<!-- This page contains password reset form -->
{% extends 'account_base.html' %}
{% load crispy_forms_tags %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

 <br>

    <!-- Page content -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent">
              <div class="text-muted text-center">
               <strong>Create New Password</strong>
              </div>
            </div>
            <div class="card-body">
            

              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'login' %}" class="btn btn-sm btn-danger"><strong>Back To Login</strong></a>
                <input type="Submit" class="btn btn-sm  btn-success" name="Submit">
              </form>
            
            </div>
          </div>
        
        </div>
      </div>
    </div>
{% endblock content %}
