{% extends 'account_base.html' %}

{% block title %} Login {% endblock title %}
{% load crispy_forms_tags %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    
<div class="card mt-4  " style="margin:0px 150px 0px 150px">
  <div class="card-header text-center p-3" style="background-color:#004de6;color:white;">
    <span style="font-size: 20px;">Reset Password</span>

  </div>
  <div class="card-body">

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <a href="{% url 'authentication:login' %}" class="btn btn-danger"><strong>Back To Login</strong></a>
      <input type="Submit" class="btn  btn-success" name="Submit">
    </form>

  </div>

  <!-- /.login-card-body -->
</div>
    <!-- /.login-box -->
    <!-- <footer class="w-100 mt-4 text-center">
      <strong>Copyright &copy; 2021 <a href="https://mangosoftsolution.com/">Mangosoft Solution</a>.</strong> All rights
      reserved.
      <div class="d-none d-sm-inline-block">
        <b>Version</b> 2.0
      </div>
    </footer> -->
  <!-- /.login-box -->

{% endblock content %}
