{% extends 'blog_base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="/static/assets/css/blog/front-page-category/styles.css" type="text/css">

<link rel="stylesheet" href="/static/assets/css/blog/front-page-category/responsive.css" type="text/css">
<link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />

{% endblock stylesheet %}

{% block content %}

{% if categories %}

  <div class="main-slider">
    <div id="swiper1" class="swiper-container position-static" data-slide-effect="slide" data-autoheight="false"
    data-swiper-speed="500" data-swiper-autoplay="10000" data-swiper-margin="0" data-swiper-slides-per-view="4"
    data-swiper-breakpoints="true" data-swiper-loop="true" style="width: 300.25px;">
      <div class="swiper-wrapper">

        {% for category in categories %}


        <div class="swiper-slide">
          <a class="slider-category" href="{{ category.get_absolute_url }}">
            <div class="blog-image">
              <img src="{{ category.image.url }}" class="category-image" alt="Blog Image" 
              width="352" height="235"
               >

            </div>

            <div class="category">
              <div class="display-table center-text">
                <div class="display-table-cell">
                  <h3><b>{{ category.name }}</b></h3>
                </div>
              </div>
            </div>
          </a>
        </div><!-- swiper-slide -->

        {% endfor %}

      </div><!-- swiper-wrapper -->
          <!-- pagination -->
          <div class="swiper-pagination"></div>
    </div><!-- swiper-container -->

  
  </div><!-- slider -->
      <!-- prev next button -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

{% else %}
<center>
  <div class="alert alert-warning"><b>No Categories</b></div>
</center>
{% endif %}

<div class="container mb-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm bg-white">
        <div class="card-header">
          <h4 class="title">{{title}}</h4>
        </div>
        <div class="card-body">
          <div class="content">
            <section class="blog-list px-3 py-5 p-md-5">
              {% if articles %}
              <div class="container">
                {% for article in articles %}
                <div class="item mb-5">
                  <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ article.image.url }}" alt="image">
                    <div class="media-body">
                      <h3 class="title mb-1"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                      <div class="meta mb-1"><span class="date"><b>Published:</b> <i>{{ article.date_published|date:'M d, Y'}}</i></span>
                        <span class="time">{{ article.count_words }} word{{ article.count_words|pluralize }}</span>
                        <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} read</span>
                        <span class="comment">{{ article.views }} view{{ article.views|pluralize }}</span>
                        <span class="comment"><a href="#">{{ article.comments.count }} comment{{article.comments.count|pluralize }}</a></span>
                        <span class="time">


                        </span>
                      </div>
                      <ul class="tags my-2">
                        {% for tag in article.tags.all %}
                        <li><a  class="badge text-uppercase text-white" style="background-color: #5E72E4;" href="javascript:void()">{{ tag.name }}</a></li>

                         <!-- <li><a  class="badge text-uppercase text-white" style="background-color: #5E72E4;" href="{% url 'blog:tag_articles' tag_name=tag.name %}">{{ tag.name }}</a></li> -->
                        {% endfor %}
                      </ul>
                      <a class="more-link" href="{{ article.get_absolute_url }}">View details &rarr;</a>
                      <hr class="solid"><!-- Solid divider -->
                    </div>
                    <!--//media-body-->
                  </div>
                  <!--//media-->
                </div>
                <!--//item-->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">

                </div>
                {% endfor %}
              </div>
              {% else %}
              <center>
                <div class="alert alert-info"><b>No Published Articles</b></div>
              </center>
              {% endif %}
            </section>

            {# Pagination for article post #}
            <nav aria-label="Page navigation example">
              {% if published_articles_list.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if published_articles_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ published_articles_list.previous_page_number }}"
                    tabindex="-1">Prev</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Prev</span>
                </li>
                {% endif %}
                {% for i in published_articles_list.paginator.page_range %}
                {% if published_articles_list.number == i %}
                <li class="page-item active">
                  <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}

                {% endfor %}
                {% if published_articles_list.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ published_articles_list.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Next</span>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer-->
{% include "includes/blog_footer.html" %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
<!-- pagination -->

<style>
  
  .main-slider {
    position: relative;
 }
 @media (min-width: 37.5em) {
    .main-slider  {
       margin-left: auto;
       margin-right: auto;
       width: 92%;
       /* make room for arrows */
       padding-left: 2em;
       padding-right: 2em;
    }
 }
 @media (min-width: 43.75em) {
    .main-slider  {
       width: 95%;
    }
 }
 .swiper-wrapper {
  /* now pagination is below slides */
  margin-bottom: 3em;
  /* just enough width so slides handing off screen are partially 
  visible */
  width: 73.8%;
}
@media (min-width: 37.5em) {
  .swiper-wrapper {
     width: 100%;
  }
}
@media (min-width: 37.5em) {
  .swiper-slide.swiper-slide  {
     /* going for a 2 column layout here */
     width: 100%;
     /* centeredSlides set to true */
     /* reposition so first slide appears on left */
     transform: translateX(-50%);
  }
}
.swiper-button-prev, .swiper-button-next{
  top:30%;
}
</style>


{% endblock content %}
{% block javascripts %}
<script>
  
  var swiper = new Swiper('.swiper-container', {

   direction: 'horizontal',
   spaceBetween: 1,
   loop: true,
   slidesPerView: 'auto', 

   centeredSlides: true,
   freeMode: false,
   pagination: {
     el: '.swiper-pagination',
     
     clickable: true,
   },
     navigation: {
       nextEl: '.swiper-button-next',
       prevEl: '.swiper-button-prev',
     },
   });
</script>
<link rel="stylesheet" href="{% static 'assets/js/common-js/swiper.js' %}" type="text/css">
{% endblock javascripts %}

