

{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    
    {% block title %}
    {% endblock title %}
      
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="{% static 'assets/img/logo.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">



  {% compress css %}
    <!-- Icons -->
    <link href="{% static '/assets/css/common-css/ionicons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/css/common-css/swiper.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="/static/assets/css/blog/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/css/blog/responsive.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <link href="{% static 'blog/css/loader.css' %}" rel="stylesheet">
  {% endcompress css %}
  
 <!-- start ckeditor highlighter -->
	<link rel="stylesheet"  href="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/github.css" >
<script  src="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js" ></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- highlighter end  -->

  <!-- Page plugins -->
  <!-- <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css"> -->

  <!-- Specific CSS goes HERE -->
  {% block stylesheet %}{% endblock stylesheet %}

</head>

<body style="background-color: #f5f5f5;">

  <div class="page-loader home-loader">
    <div class="inner-loader">
      <div class="spinner-border text-center" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-center" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="loader__figure" />
    </div>
  </div>
</div>

  <div class="main-content" id="panel">
    {% include "includes/blog_navbar.html" %}


    {% block content %}{% endblock content %}

  </div>


  <!-- {% include "includes/scripts.html" %} -->

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}

  {% endblock javascripts %}

<style>

  
  .back-to-top {
      position: fixed;
      bottom: 25px;
      right: 25px;
      display: none;
  }
  
</style>

{% compress js %}
  <script src="{% static '/assets/js/common-js/jquery-3.5.min.js' %}"></script>
  <script src="{% static '/assets/js/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static '/assets/js/common-js/tether.min.js' %}"></script>

  <script>
    $(document).ready(function(){
      $(window).scroll(function () {
          if ($(this).scrollTop() > 50) {
            $('#back-to-top').fadeIn();
          } else {
            $('#back-to-top').fadeOut();
          }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 400);
          return false;
        });
    });
  </script>
  {% endcompress %}
<script>
      // hide loader after all data are loaded
      $(document).ready(function(){
        $('.page-loader').hide();
      });
</script>
</body>

</html>
