{% extends 'blog_base.html' %}
{% load static %}
{% load compress %}



{% block stylesheet %}
    {{ block.super }}
	{% compress css %}
	<link rel="stylesheet" href="/static/assets/css/blog/post-detail/styles.css" type="text/css">

	<link rel="stylesheet" href="/static/assets/css/blog/post-detail/responsive.css" type="text/css">
	
	{% endcompress %}
{% endblock stylesheet %}


{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
<!-- <img id = "category-header" src="{{ article.category.image.url }}" 
 alt=""> -->

 <!-- style="height: 10rem;margin-top:4.5rem; width: 80%;" -->

	<section class="post-area">

		<div class="container">

			<div class="row" style="margin-top:11rem">

				<div class="col-lg-1 col-md-0"></div>
				<div class="col-lg-10 col-md-12">

					<figure class="main-post">

						<div class="post-top-area">

							<h5 class="pre-title text-center text-uppercase"><b>{{ article.category }}</b></h5>
<hr>
							<h3 class="title"><b>{{ article.title }}</b></h3>

							<!-- <div class="post-info">

								<div class="left-area">
									<a class="avatar" href="{% url 'blog:author_articles' article.author.username %}">
                                        <img src="{{ article.author.profile.image.url }}" alt="Profile Image" class="article-author-profile-image"></a>
								</div>

								<div class="middle-area">
									By <a class="name" href="{% url 'blog:author_articles' article.author.username %}">
                                        <b>{{ article.author.username }}</b></a>
									<h6 class="date">on {{ article.date_published.date }}</h6>
								</div>

							</div>post-info -->
                           <div class="post-icons-area">
								<ul class="post-icons">
									<li><a><i class="ion-ios-calendar"></i> {{ article.date_published.date }}</a></li>
                                    <!-- <li><a><i class="ion-ios-paper"></i>{{ article.count_words }} word{{ article.count_words|pluralize }}</a></li> -->
									<li><a><i class="ion-ios-clock"></i>{{ article.read_time }} min{{ article.read_time|pluralize }} read</a></li>
									<li><a><i class="ion-chatbubbles"></i>{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</a></li>
									<li><a><i class="ion-eye"></i>{{ article.views }} view{{ article.views|pluralize }}</a></li>
								</ul>

								<ul class="icons">
									<li>SHARE : </li>
                                    <li>
                                        <a href="mailto:?subject={{ article.title }}&amp;body=Check out this article {{ request.build_absolute_uri }}" target="_blank">
                                        <i class="ion-android-mail"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"  target="_blank">
                                        <i class="ion-social-linkedin"></i>
                                        </a>
                                    </li>
									<li>
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                                        <i class="ion-social-facebook"></i>
                                        </a>
                                    </li>
									<li>
                                        <a href="http://twitter.com/share?text={{ article.title }}. &url={{ request.build_absolute_uri }}" target="_blank">
                                        <i class="ion-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank">
                                            <i class="ion-social-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}&text={{ article.title }}" target="_blank">
                                            <i class="fa fa-telegram"></i>
                                        </a>
                                    </li>
								</ul>
							</div>

						</div><!-- post-top-area -->

						<figure class="post-image">
							<img class="article-image"
							 src="{{ article.image.url }}" 
							style="
							border-radius:50px;
							box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
							
							"
							 alt="Blog Image">
							 
				       {% if article.image_credit %}
                           <figcaption class="mt-2 text-center image-caption">
                            (Image Credit: {{ article.image_credit}})
                        </figcaption>
                       {% endif %}
                        </figure>

						<div class="post-bottom-area">

                        <!-- article body -->
                            <p class="para">{{ article.body | safe }}</p>

                        <!-- tags -->
							<ul class="tags">
                                {% for tag in tags %}
								<!-- <li><a  class="badge text-uppercase text-white" style="background-color: #5E72E4;" href="{% url 'blog:tag_articles' tag_name=tag.name %}">{{ tag.name }}</a></li> -->
								<li><a  class="badge text-uppercase text-white" style="background-color: #5E72E4;" href="javascript:void(0)">{{ tag.name }}</a></li>
                                {% endfor %}
							</ul>

						</div><!-- post-bottom-area -->
                    </figure>
					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->
			</div><!-- row -->
			
		</div><!-- container -->
	</section><!-- post-area -->




	
	<section class="comment-section center-text ">
		<div class="container bg-white">
		
			<div id="disqus_thread"></div>
			<script>
				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
				/*
				var disqus_config = function () {
				this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				*/
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://study-better-way.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div><!-- container -->
	</section>
	{% include "includes/blog_footer.html" %}

{% compress css %}

<style>
	/*for mobile*/
	@media (max-width: 991px	) {
		.article-image {
		  width: 95%;
		  width:90%;
			margin-left:1rem;
			height: 15rem
		}
	  }
	  /* for medium */
	  @media (min-width: 992px) {
		.article-image {
			width:93%;
			margin-left:2rem;
			height: 25rem;
		}
	  }
	  img .category-header{
		height: 5rem;margin-top:4.5rem; width: 80%;

	  }
	.card {
		position: relative;
		width: 20rem;
		height:100%;
		overflow: hidden;
		border-radius: 15px;
		margin: 0 auto;
		box-shadow: 0 10px 15px rgba(0,0,0,0.3);
		transition: .5s;
	  }
	  .card:hover {
		transform:scale(1.1);
	  }
</style>
{% endcompress %}

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
	