{% extends "account_base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}

        <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Account Activation Sent</h4>

                <div class="card-body">
                        <div class="font-weight-bold text-dark text-center">

                            Please confirm your email address.
                            <br ><br>
                            We have sent you an email to confirm your email address.
                            Please check your inbox and spam folder.
                        </div>
                    <hr />
                    <div class="text-center font-weight-bold">
                      <a class="btn btn-primary" href="{% url 'blog:home' %}">
                         <i class="fas fa-home"></i> Go Back Home
                      </a>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}