{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">
  
  <title>
   
   {% block title %}
     
   {% endblock title %}
     
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="{% static 'assets/img/logo.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

  {% compress css %}
  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/css/blog/responsive.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/css/blog/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
  {% endcompress %}

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">

  {% include "includes/sidebar.html" %}

  <div class="main-content" id="panel">

    {% include "includes/navigation.html" %}

    {% block content %}{% endblock content %}

  </div>


  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}
  {% compress js %}
  <script src="{% static '/assets/js/common-js/jquery-3.5.min.js' %}"></script>
  <script src="{% static '/assets/js/bootstrap/bootstrap.min.js' %}"></script>
  <script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>

  <script src="/static/assets/js/argon.js?v=1.2.0"></script>
{% endcompress %}
<script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
</body>

</html>
